@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
a:visited {
  color: purple;
}

* {
  box-sizing: border-box;
} */
